/* popup.css */

body {
    width: 300px;
    font-family: Arial, sans-serif; /* Specify a suitable font */
    background-color: #f4f4f4; /* Background color for the popup */
    margin: 0;
    padding: 20px;
}

.center {
    text-align: center;
}

#button1 , #button2{
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#button1:hover,#button2:hover {
    background-color: #2980b9;
}
#button2:disabled:hover {
    background-color: #3498db;
}

p {
    font-size:20px;
    font-family:'Courier New';
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

#scraped-content1,#analysis-result,#successful {
    color: #333;
    font-size: 15px;
}

